@font-face {
    font-family: 'Hanken';
    src: url(static/HankenGrotesk-Medium.ttf);
}

@font-face {
    font-family: 'Hanken';
    src: url(static/HankenGrotesk-Bold.ttf);
    font-weight: bold;
}

*{
    box-sizing: border-box;

    /*
    display: flex;
    margin: 0;
    padding: 0;
    font-family: 'Hanken';
    font-size: 18px;
    */
}

body{
    background-color: hsl(0, 0%, 100%);
}

.container{
    width: 746px;
    height: 515px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.box1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 374px;
    height: 515px;
    background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 20px;
}

.percent{
    width: 200px;
    height: 200px;
    background: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    border-radius: 50%;
}

.box2 ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

.box2 li{
    padding: 8px;
    margin-bottom: 7px;
    background-color: hsl(0, 100%, 67%);
}

li{
    width: 200px;
    display: list-item;
    text-align: border-box;
    border-radius: 10px;
}

/*
div.box1 > p{
    font-size: 18px;
    font-weight: 500;
    color: hsl(241, 100%, 89%);
}

